
[core]
        editor = vim

[init]
        defaultBranch = main

[alias]
        st = status
        adda = add --all
        cm = commit -m
        cma = commit --amend
        co = checkout
        cob = checkout -b
